#result{
    max-width: 80%;
    background-color: #d0d0cf;
    color: #646464;
    padding: 10px;
    width: max-content;
}
#script-name{

}
.block{
    max-width: 800px;
    min-width: 300px;
    width: min-content;
    border-color: #fff0;
    border-bottom-color: #bbb7b7;
    border-style: dotted;
}
#download{
    cursor: pointer;
    color: #4a4a4a;
    padding: 10px;
    background-color: #80ec71;
    width: max-content;
}